Autenticacion/__pycache__
Autenticacion/migrations
Betabel/__pycache__
Betabel/migrations
DatosPersonales/__pycache__
DatosPersonales/migrations
Espinaca/__pycache__
Espinaca/migrations
HidroPlan/__pycache__
HidroPlanApp/__pycache__
HidroPlanApp/migrations
Lechuga/__pycache__
Lechuga/migrations
Registros/__pycache__
Registros/migrations